
body {
    background-color:bisque
}
p {
    text-align: left;
    margin: auto;
    width: 600px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4 {
    color:slateblue;
    text-align: center;
    font-size: xx-large;
}
.row {
    border: 1px;
    text-align: center;
}
.column {
    padding: 50px;
    display: inline-block;
}
.block {
  display:block;
  width: 80%;
  border:black
  background-color: white;
  padding: 14px 28px;
}